<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FilterDPApp-SessionChecker</display-name>
   <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>loginurl</servlet-name>
  <servlet-class>com.mhb.pattern.session.facade.LoginHelperServlet</servlet-class>
  </servlet>
 <servlet-mapping>
 <servlet-name>loginurl</servlet-name>
 <url-pattern>/loginurl</url-pattern>
 </servlet-mapping>
 
  <servlet>
  <servlet-name>inboxurl</servlet-name>
  <servlet-class>com.mhb.pattern.session.facade.InboxServlet</servlet-class>
  </servlet>
 <servlet-mapping>
 <servlet-name>inboxurl</servlet-name>
 <url-pattern>/inboxurl</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>signouturl</servlet-name>
  <servlet-class>com.mhb.pattern.session.facade.SignOutServlet</servlet-class>
  </servlet>
 <servlet-mapping>
 <servlet-name>signouturl</servlet-name>
 <url-pattern>/signouturl</url-pattern>
 </servlet-mapping>
 
 <filter>
 <filter-name>inboxurl</filter-name>
 <filter-class>com.mhb.pattern.filter.SessionCheckerFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>inboxurl</filter-name>
 <url-pattern>/inboxurl</url-pattern>
 </filter-mapping>
 <session-config>
 <session-timeout>1</session-timeout>
 </session-config>
</web-app>